<footer class="container-footer bg-4 fixed-footer">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">

      <div class="ui-grid-col-4">
        <comp-chat-form></comp-chat-form>
      </div>

      <div class="ui-grid-col-4">
          <div class="ui-grid-row">Partagez sur les réseaux sociaux</div>
          <div class="ui-grid-row">
            <share-button button="facebook"></share-button>
            <share-button button="telegram"></share-button>
            <share-button button="twitter"></share-button>
            <share-button button="pinterest" text="Pin" showText="true"></share-button>
        </div>

      </div>
      <div class="ui-grid-col-4">
        <span>Développé par <strong>Abdourahamane LY</strong></span>
      </div>
    </div>
  </div>
</footer>
