<!--
<footer class="container-footer bg-4 fixed-footer">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">

      <div class="ui-grid-col-4">
        <comp-chat-form></comp-chat-form>
      </div>

      <div class="ui-grid-col-4">
          <div class="ui-grid-row">Partagez sur les réseaux sociaux</div>
          <div class="ui-grid-row">
            <share-button button="facebook"></share-button>
            <share-button button="telegram"></share-button>
            <share-button button="twitter"></share-button>
            <share-button button="pinterest" text="Pin" showText="true"></share-button>
        </div>

      </div>
      <div class="ui-grid-col-4">
        <span>Développé par <strong>Abdourahamane LY</strong></span>
      </div>
    </div>
  </div>
</footer>
-->


<div class="call-outs-container">
  <div class="call-out">
    <h4 class="title-color">Contact</h4>
    <h5 class="title-color">Abdourahamane LY</h5>
    <p class="title-color">
      Phone: 06XXXXXXXX
      <br>
      E-mail: ******@nieborès.com
    </p>
  </div>

  <div class="call-out">
    <h4 class="title-color">Partager sur les réseaux sociaux</h4>
    <p>
      <share-button button="facebook"></share-button>
      <share-button button="telegram"></share-button>
      <share-button button="twitter"></share-button>
      <share-button button="pinterest" text="Pin" showText="true"></share-button>
    </p>
  </div>

  <div class="call-out">
    <h4 class="title-color">Me Contacter sur les réseaux sociaux</h4>

    <div class="fa-2x">
      <a target="_blank" rel="noopener" href="https://www.facebook.com/rahamane.ly">
        <i matTooltip="Contactez moi sur Facebook" class="fa fa-facebook-square"></i>
      </a>

      <a target="_blank" rel="noopener" href="https://twitter.com/">
        <i matTooltip="Contactez moi sur Twitter" class="fa fa-twitter-square"></i>
      </a>


      <a target="_blank" rel="noopener" href="https://github.com/ly-abdourahamane">
        <i matTooltip="Consultez mes dépots github" class="fa fa-github-square"></i>
      </a>

      <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/abdourahamane-ly-111300121/">
        <i matTooltip="Ajoutez moi sur LinkedIn" class="fa fa-linkedin-square"></i>
      </a>

      <a target="_blank" rel="noopener" href="https://bitbucket.org/ab_dou/">
        <i matTooltip="Mes projets sur Bitbucket" class="fa fa-bitbucket-square"></i>
      </a>
    </div>
  </div>
</div>
