<div class="footer-container row">
  <div class="column" align="center">
    © 2018 Copyright: Mini forum<br>
    Abdourahamane LY
  </div>

  <div class="column" align="center">
    Résoignez moi sur les réseaux sociaux<br>
    <a target="_blank" rel="noopener" href="https://www.facebook.com/rahamane.ly" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-telegram"></a>
  </div>

  <div class="column" align="center">
    Partager sur les réseaux sociaux<br>
    <!-- Email -->
    <a
      href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://ly-abdourahamane.github.io/AbdChat/connexion"
      class="fa fa-envelope">
    </a>

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://ly-abdourahamane.github.io/AbdChat/connexion"
       class="fa fa-facebook" target="_blank">
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://ly-abdourahamane.github.io/AbdChat/connexion"
       class="fa fa-google" target="_blank">
    </a>

    <!-- LinkedIn -->
    <a
      href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://ly-abdourahamane.github.io/AbdChat/connexion"
      class="fa fa-linkedin" target="_blank">
    </a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()" class="fa fa-print">
    </a>

    <!-- Twitter -->
    <a
      href="https://twitter.com/share?url=https://ly-abdourahamane.github.io/AbdChat/connexion&amp;text=MiniForum&amp;hashtags=MiniForum"
      class="fa fa-twitter" target="_blank">
    </a>
  </div>
</div>

