.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.container > * {
  width: 100%;
}

.button-row {
  display: flex;
  align-items: right;
  justify-content: space-around;
}
