<mat-card>
  <mat-card-content>
    <mat-form-field>
        <textarea matInput [rows]="3" placeholder="Saisissez votre message" value="" name="message"
               [(ngModel)]="message"
                  (keydown)="handleSubmit($event)"></textarea>
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="send()">
        <i class="material-icons">send</i>
      </button>
  </mat-card-content>
</mat-card>



<!--  <div class="example-full-width">
    <emoji-input [(model)]="message"
                 [inputClass]="'red'"
                 [searchClass]="'blue'"
                 style="display: inline-block;"
                 (click)="openPopup(true)"
                 (setPopupAction)="setPopupAction($event)"
                 (keydown)="handleSubmit($event)">
    </emoji-input>
    <button type="button" name="button"  style="display: inline-block;" (click)="openPopup(true)">
     emoji
    </button>
  </div>
</form>-->




