<div class="container">

  <div class="mat-elevation-z8">
    <div class="header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <br>
    <mat-table [dataSource]="dataSource" matSort>

      <!-- COLONNE 1 -->
      <ng-container matColumnDef="title">
        <mat-cell *matCellDef="let row">
          {{row.title}} <br>
          par {{row.displayName}}
        </mat-cell>
      </ng-container>

      <!-- COLONNE 2 -->
      <ng-container matColumnDef="subtitle">
        <mat-cell *matCellDef="let row">
          {{row.subtitle}}
        </mat-cell>
      </ng-container>

      <!-- COLONNE 3 -->
      <ng-container matColumnDef="description">
        <mat-cell *matCellDef="let row">
          {{row.description}} <br>
          {{row.creationTime}}
        </mat-cell>
      </ng-container>

      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection_(row)" [compMouseLiveColor]="'#dddddd'">
      </mat-row>
    </mat-table>

    <mat-paginator #paginateur
                   [pageSize]="20"
                   [pageSizeOptions]="[3, 10, 20, 4, 5, 6, 7, 8, 9]"
                   [showFirstLastButtons]="true">
    </mat-paginator>

  </div>
</div>
