<div class="container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>

    <!-- COLONNE 1 -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a class="subject-style" routerLink="">
          {{row.title}}
        </a>
      </mat-cell>
    </ng-container>

    <!-- COLONNE 2 -->
    <ng-container matColumnDef="subtitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
          {{row.subtitle}}
      </mat-cell>
    </ng-container>

    <!-- COLONNE 3 -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row.description}} <br>
          {{row.creationTime}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="selection_(row)">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"></mat-paginator>
</div>


<!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns;"
         (click)="highlightedRows.push(row)"
         [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''">
</mat-row>-->
