<div class="container">
  <div class="form-row">
    <label for="name">Nom:</label>
    <input type="text" id="name">
  </div>

  <div class="form-row">
    <label for="favColor">Couleur:</label>
    <input type="text" id="favColor">
  </div>

  <h1>Positionnement des données avec flex et order</h1>
  <div class="column-layout">
    <div class="main-column">
      <h2>Main column</h2>
      <p>En plus des films,wxcw Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
    </div>

    <div class="sidebar-one">
      <h3>Sidebar one</h3>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
    </div>

    <div class="sidebar-two">
      <h3>Sidebar one</h3>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
    </div>
  </div>


  <h1>Ajout des marges</h1>

  <div class="call-outs-container">
    <div class="call-out">
      <h4>Composant 1</h4>
      <p>Conakry (Sosso: Kɔnakiri) is the capital and largest city of Guinea. A port city, it serves as the economic,
        financial and cultural centre of Guinea. Its population as of the 2014 Guinea census was 1,660,973 [1]
        Originally
        situated on Tombo Island, one of the Îles de Los, it has since spread up the neighboring Kaloum Peninsula.
        The current population of Conakry is difficult to ascertain, although the U.S. Bureau of African Affairs has
        estimated it at 2 million, accounting for one sixth of the entire population of the country.[2]
      </p>
    </div>

    <div class="call-out">
      <h4>Composant 2</h4>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
    </div>
  </div>


  <p>PARTIE 2</p>
  <div class="call-outs-container">
    <div class="call-out">
      <h4>Composant 3</h4>
      <p>Conakry (Sosso: Kɔnakiri) is the capital and largest city of Guinea. A port city, it serves as the economic,
        financial and cultural centre of Guinea. Its population as of the 2014 Guinea census was 1,660,973 [1]
        Originally
        situated on Tombo Island, one of the Îles de Los, it has since spread up the neighboring Kaloum Peninsula.
        The current population of Conakry is difficult to ascertain, although the U.S. Bureau of African Affairs has
        estimated it at 2 million, accounting for one sixth of the entire population of the country.[2]
      </p>
    </div>

    <div class="call-out">
      <h4>Composant 4</h4>
      <p>En plus des films, Mustafar est représentée dans les séries télévisées Star Wars: The Clone Wars, Star Wars
        Rebels, dans les novélisations des films dans lesquelles elle apparaît (comme le roman Rogue One), ainsi que
        dans plusieurs romans, jeux vidéo et bandes
        dessinées.
      </p>
    </div>
  </div>

  <h1>Manipulation des lignes et des colonnes</h1>

  <div class="equal-height-container">
    <div class="first">
      <p>Conakry (Sosso: Kɔnakiri) is the capital and largest city of Guinea. A port city, it serves as the economic,
        estimated it at 2 million, accounting for one sixth of the entire population of the country.[2]
      </p>
      <p>Conakry (Sosso: Kɔnakiri) is the capital and largest city of Guinea. A port city, it serves as the economic,
        estimated it at 2 million, accounting for one sixth of the entire population of the country.[2]
      </p>
      <p>Conakry (Sosso: Kɔnakiri) is the capital and largest city of Guinea. A port city, it serves as the economic,
        estimated it at 2 million, accounting for one sixth of the entire population of the country.[2]
      </p>
      <p>financial and cultural centre of Guinea. Its population as of the 2014 Guinea census was 1,660,973 [1]
        Originally
        situated on Tombo Island, one of the Îles de Los, it has since spread up the neighboring Kaloum Peninsula.
      </p>
    </div>

    <div class="second">
      <div class="second-a">A</div>
      <div class="second-b">B</div>
    </div>
  </div>
</div>
