<h2>Identifiez vous</h2>

<form class="example-form" #signInForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput required
           placeholder="Adresse mail" value=""
           [(ngModel)]="email"
           type="email"
           name="email">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput required
           placeholder="Mot de passe"
           type="password"
           [(ngModel)]="password"
           name="password">
  </mat-form-field>

  <button mat-raised-button color="basic" (click)="signInWithEmailAndPassword()"
          [disabled]="!signInForm.form.valid">Connexion
  </button>

  <div class="align-text">ou</div>

  <button mat-raised-button color="primary" (click)="signInWithFacebook()">Connexion avec Facebook</button>

  <div class="align-text">ou</div>

  <button mat-raised-button color="warn" (click)="signInWithGoogle()">Connexion avec Google</button>

</form>

<!--
<div class="ui-g">
  <div class="ui-g">
    <button mat-raised-button color="basic" (click)="signInWithEmailAndPassword()"
            [disabled]="!signInForm.form.valid">Connexion
    </button>
  </div>

  <div class="ui-g-12"></div>

  <div class="ui-g">
    <button mat-raised-button color="primary" (click)="signInWithFacebook()">Connexion avec Facebook</button>
  </div>

  <div class="ui-g-12"></div>

  <div class="ui-g">
    <button mat-raised-button color="warn" (click)="signInWithGoogle()">Connexion avec Google</button>
  </div>
</div>


-->
