<p>Bonjour à tous et à toutes, j'avais développé un petit chat pour pouvoir communiquer avec mes amis.
Je l'ai fait juste pour m'amuser. Sinon il y'a telegram, whatsapp, ...
</p>

<p class="italic">
Maintenant je suis en entrain de transformer ce chat en un petit forum.
Pour l'instant je n'ai pas défini les principaux thèmes, c'est pour cela j'utilise des matières
enseignées en informatique.

Dans ce petit forum, on peut créer un compte, s'identifier, selectionner une matière, creer un sujet
et puis saisir un commentaire sur un sujet selectionné.
</p>

<p>
  <strong>Bug</strong>:
  La pagination sur les tableaux & des fois l'application se plante sur mozilla firefox. Donc je vous conseille
vivement d'utiliser <strong>chrome</strong> . Je vous tiendrai au courant dès que je corrige ce bug.

En ce moment c'est seulement mes amis informaticiens qui ont accès à cette application.

N'hésiter pas de me remonter les bugs que vous rencontrer.
</p>

<hr>

<button mat-mini-fab color="primary" (click)="onNoClick()">OK</button>
