.tab-group {
  border: 1px solid #e8e8e8;
  max-width: 600px;
  background: white;
}

/* Définition des marges */
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;

  /* align-items: flex-start; */ /*permet aussi l'alignement*/
}

/* permet d'ajouter les responsives (affichage pour les portables, tablettes, ..)*/
@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between; /*permet l'alignement des composants*/
  }
}

.call-out {
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 80%;
  /* margin-right: 40px;*/
}

.call-out:nth-child(2) {
}

.call-out:nth-child(1) {
  order: 2;
}

.card-theme {
  max-width: 200px;
}




/* */
@media (max-width: 720px) {
  .list-category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: space-around;
  }
}

.list-category {
  margin: 0px;
}

.list-item,
.list-item:active,
.list-item:focus,
.list-item:hover {
  text-decoration: none;
}

.list-item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 260px;
}

.category-list-card-summary, .list-item {
  color: rgba(0,0,0,.54);
}

.list-card {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.category-list-card-summary,
.list-item {
  color: rgba(0,0,0,.54);
}

.list-icon-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.list-card-title {
  padding:  0px 0px 0px 0px;
  text-transform: uppercase;
}
