<mat-toolbar [ngClass]="{'header_nav':true, 'header_nav--big':!isShrunk, 'header_nav--small':isShrunk}">

  <button mat-button>
    <a href="#"><i matTooltip="Page d'accueil" class="material-icons w3-xxlarge w3-spin">home</i></a>
  </button>

  <button mat-button>
    <strong>
      <a matTooltip="Contactez moi par mail" routerLink="nous-contacter"><h3>Me Contacter</h3></a>
    </strong>
  </button>

  <span class="spacer"></span>

  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button *ngIf="(user|async)?.uid" (click)="visibleSidebar = true">
      <span matTooltip="Affiche les utilisateurs" id="friends" *ngIf="(user|async)?.uid"><h3>Utilisateurs</h3></span>
    </button>

    <span id="displayName" *ngIf="(user|async)?.uid">Bienvenue {{displayName}}</span>

    <button *ngIf="!(user|async)?.uid" mat-button>
      <strong>
        <a routerLink="connexion"><h3>Connexion</h3></a>
      </strong>
    </button>

    <button *ngIf="!(user|async)?.uid" mat-button>
      <strong>
        <a routerLink="inscription"><h3>Créer un compte</h3></a>
      </strong>
    </button>

    <button *ngIf="(user|async)?.uid" mat-button>
      <strong>
        <a href="#" (click)="logout()"><h3>Déconnexion</h3></a>
      </strong>
    </button>

    <!-- MENU DE CONNEXION -->
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(user|async)?.uid">
      <i matTooltip="Accedez à vos paramètres" class="material-icons"><span>account_circle</span></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="(user|async)?.uid">
        <mat-icon>exit_to_app</mat-icon>
        <span> <a href="#" (click)="logout()" class="menu-item">Déconnexion</a> </span>
      </button>

      <button mat-menu-item *ngIf="(user|async)?.uid" disabled>
        <mat-icon>mode_edit</mat-icon>
        <span> <a href="#" (click)="logout()" class="menu-item">Paramètres</a> </span>
      </button>

      <button mat-menu-item *ngIf="(user|async)?.uid" disabled>
        <mat-icon>settings</mat-icon>
        <span> <a href="#" (click)="logout()" class="menu-item">Mon Profile</a> </span>
      </button>

      <button mat-menu-item *ngIf="(user|async)?.uid" disabled>
        <mat-icon>delete</mat-icon>
        <span> <a href="#" (click)="logout()" class="menu-item">Supprimer Mon Compte</a> </span>
      </button>
    </mat-menu>

  </div>

  <div fxShow="true" fxHide.gt-xs="true" fxHide.sm="false">
    <button mat-icon-button color="white" (click)="sidenav.toggle(); visibleMenu=true">
      <div class="my-burger"></div>
      <div class="my-burger"></div>
      <div class="my-burger"></div>
    </button>
  </div>
</mat-toolbar>

<!--AFFICHAGE DU MENU DU GAUCHE POUR LES PETITS ECRANS-->
<p-sidebar [(visible)]="visibleMenu" position="left" [baseZIndex]="10000">

  <button mat-menu-item (click)="closeMenuBurger()">
          <span><a href="#" matTooltip="Page d'accueil" class="menu-item">Accueil</a></span>
  </button>

  <button mat-menu-item *ngIf="(user|async)?.uid" (click)="visibleSidebar = true; closeMenuBurger()">
    <span><a href="#"matTooltip="Affiche les utilisateurs" class="menu-item">Utilisateurs</a></span>
  </button>

  <button *ngIf="!(user|async)?.uid" mat-menu-item (click)="closeMenuBurger()">
          <span><a routerLink="connexion" routerLinkActive="true" class="menu-item">Connexion</a></span>
  </button>

  <button *ngIf="!(user|async)?.uid" mat-menu-item (click)="closeMenuBurger()">
          <span>
            <a routerLink="/inscription" routerLinkActive="true" class="menu-item">Créer un compte</a>
          </span>
  </button>

  <button mat-menu-item *ngIf="(user|async)?.uid" disabled (click)="closeMenuBurger()">
    <span> <a href="#" (click)="logout()" class="menu-item">Paramètres</a> </span>
  </button>

  <button mat-menu-item *ngIf="(user|async)?.uid" disabled (click)="closeMenuBurger()">
    <span> <a href="#" (click)="logout()" class="menu-item">Mon Profile</a> </span>
  </button>

  <button mat-menu-item *ngIf="(user|async)?.uid" disabled (click)="closeMenuBurger()">
    <span> <a href="#" (click)="logout()" class="menu-item">Supprimer Mon Compte</a> </span>
  </button>

  <button *ngIf="(user|async)?.uid" mat-menu-item (click)="closeMenuBurger()">
          <span>
            <a href="#" (click)="logout()" class="menu-item">Déconnexion</a>
          </span>
  </button>

  <!--J'AI TRICHÉ UN PEU, À MODIFIER PLUTARD-->
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav fxLayout="column">
    </mat-sidenav>
  </mat-sidenav-container>
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
  <h3 style="font-weight:normal">Utilisateurs</h3>
  <div #scroller class="call-out">
    <comp-user-list></comp-user-list>
  </div>
</p-sidebar>

<!-- AFFICHAGE DES TOUS LES AUTRES COMPOSANTS-->
<div class="layout-main">
  <div class="column-layout">
    <div class="main-column">
      <router-outlet></router-outlet>
    </div>
    <div class="sidebar-one"></div>
    <div class="sidebar-two"></div>
  </div>
</div>
<!--AFFICHAGE DU FOOTER-->
<comp-footer></comp-footer>




