.mat-card  {
  min-width: 100%;
}

.header-image {
  background-image: url('../../../../../assets/image/profile.jpg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}
