.isOwnMessageContainer {
  background-color: #01579B;
}

.messageData {
  flex: 1;
  padding: 10px;
  font-size: 0.7em;
}

.sender {
  display: block;
  color: #222;
  font-weight: bold;
}

.isOwnSender {
  color: #E1F5FE;
}

.timeStamp {
  color: #555;
  font-style: italic;
}

.isOwnTimestamp {
  color: #4FC3F7;
}

.messageContent {
  height: auto;
  flex: 9;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.isOwnMessageContent {
  background-color: #E3F2FD;
  color: #01579B;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../../assets/image/profile.jpg');
  background-size: cover;
}

