<p-galleria [images]="images" panelWidth="400" panelHeight="250" showCaption="true"></p-galleria>

<ul>
  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        Hymne nationale de la Guinée
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AFmJ8jVRsgo" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>

  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        Hymne nationale du Senegal
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EXyLMGwj5IU" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>

  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        Soul Bang's <strong>Mounou Bara Dari</strong>
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/47sma4iDR_U" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>

  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        DTM <strong>Nani nani</strong>
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xem-HDkSU1E" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>
</ul>
