<p-galleria [images]="images" panelWidth="250" panelHeight="200" showCaption="true"></p-galleria>

<ul>
  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        Hymne nationale de la Guinée
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/AFmJ8jVRsgo" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>

  <li>
    <p-lightbox type="content">
      <a class="group" href="#">
        Hymne nationale du Senegal
      </a>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/EXyLMGwj5IU" frameborder="0"
              allowfullscreen></iframe>
    </p-lightbox>
  </li>
</ul>
