<div class="container animate">
  <div class="container-signup">

    <div class="call-outs-container">
      <div class="call-out w3-card" style="padding-left: 10px; padding-right: 10px">
        <div class="smartphone">
          <h3 align="center">BIENVENUE !</h3>
        </div>
      </div>

      <div class="call-out w3-card">
        <h3 align="center">Créer un compte</h3>
        <form #signUpForm="ngForm" style="padding-left: 10px">
          <div class="row-">
            <div class="column-25">
              <label for="name">Nom</label>
            </div>
            <div class="column-75">
              <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="text" class="input-field" placeholder="Nom" value="" id="name" [(ngModel)]="displayName"
                       name="displayName">
              </div>
            </div>
          </div>

          <div class="row-">
            <div class="column-25">
              <label for="email">Adresse mail</label>
            </div>
            <div class="column-75">
              <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" [formControl]="emailFormControl" id="email" placeholder="Adresse mail"
                       value=""
                       [(ngModel)]="email" type="email" name="email">
              </div>
            </div>
          </div>

          <div class="row-">
            <div class="column-25">
              <label for="password">Mot de passe</label>
            </div>
            <div class="column-75">
              <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" type="password" required id="password"
                       placeholder="Mot de passe"
                       [type]="hide ? 'password' : 'text'"
                       [(ngModel)]="password"
                       name="password">
              </div>
            </div>
          </div>

          <div class="row-">
            <button type="submit"
                    [disabled]="!signUpForm.form.valid || emailFormControl.hasError('email') && !emailFormControl.hasError('required')"
                    type="submit" (click)="signUp()">S'inscrire
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
