<br>
<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile [colspan]="4" [rowspan]="3">

    <mat-card class="example-card">

      <mat-card-header>
        <mat-card-title><h2>Créer un compte</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="example-form" #signUpForm="ngForm">

          <mat-form-field class="example-full-width">
            <input matInput required
                   placeholder="Nom" value=""
                   [(ngModel)]="displayName"
                   type="text"
                   name="displayName">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput required
                   placeholder="Adresse mail" value=""
                   [(ngModel)]="email"
                   type="email"
                   name="email">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput required
                   placeholder="Mot de passe"
                   type="password"
                   [(ngModel)]="password"
                   name="password">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
                [disabled]="!signUpForm.form.valid"
                type="submit" (click)="signUp()"> S'inscrire</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>



