<mat-card>
  <mat-card-content>
    <div class="card-body">
      <h5 class="card-title">Selectionner un fichier:</h5>
      <input type="file" (change)="upload($event)" accept=".png,.jpg, .jpeg"/>
      <br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
             [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
       <!-- Fichier téléchargé: <a [href]="downloadSrc">{{downloadSrc}}</a>-->
      </div>

      <br>

      <div class="button-row" role="group" *ngIf="uploadState | async; let state">
        <button mat-raised-button color="primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
        <button mat-raised-button color="accent" (click)="task.cancel()"
                [disabled]="!(state === 'paused' || state === 'running')">Annuler</button>
        <button mat-raised-button color="warn" (click)="task.resume()" [disabled]="state === 'running'">Continuer</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
