
#scroll-style::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #F5F5F5;
}

comp-user-list {
  width: 100%;
  height: 100%;
}


/* Définition des marges */
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;

  /* align-items: flex-start; */ /*permet aussi l'alignement*/
}

/* permet d'ajouter les responsives (affichage pour les portables, tablettes, ..)*/
@media (min-width: 900px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between; /*permet l'alignement des composants*/
  }
}

.call-out {
  padding: 0px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 80%;
  /* margin-right: 40px;*/
}

.call-out:nth-child(1) {

}

.call-out:nth-child(2) {
  order: 1;
}

/* send message */
.send-message {
  display: flex;
  width:25%;
  z-index: 3;
  height:90px;
  bottom:90px;
  position:fixed;
}
