<div class="call-outs-container">
  <!--<div class="message-container" [innerHTML]="myMessageString | emojis">
  </div>-->
  <div class="call-out">
   <comp-galleria-png></comp-galleria-png>
  </div>
  <div class="call-out">
    <h3>Liste des utilisateurs connectés</h3>
    <comp-user-list></comp-user-list>
  </div>

  <div #scroller class="call-out">
    <comp-feed></comp-feed>
  </div>
</div>


<div class="send-message">
  <div class="chatform"></div>
  <div class="chatform"></div>
  <div class="chatform"></div>
  <div class="chatform">
    <comp-chat-form></comp-chat-form>
  </div>
</div>
