.userItem:hover{
  background-color: #4FC3F7;
  color: #ddd;
  transition: ease-in 0.1s;
}

.online{
  background-color: #00FFAA;
}

.busy{
  background-color: #FFBB00;
}

.offline{
  background-color: #888;
}

.status{
  border: 0px solid #dddddd;
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  margin: 10px 12px 0px 10px;
}

.userName{
  display: inline-block;
}
