/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~font-awesome/css/font-awesome.min.css';
@import "~@ngx-share/button/styles/share-buttons";
@import "~@ngx-share/button/styles/themes/default/default-theme";

@import '~bootstrap/dist/css/bootstrap.min.css';

.emoji{
  display:inline-block;
}

body,
html {
  margin: 0 auto;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.printing-data {
  margin: 0px 0px 20px 80px;
}

/*body {
  background: white;
    !*linear-gradient(181deg,  rgba(255, 255, 247, 0.9), rgba(48, 60, 27, 0.6));*!
}*/

/** {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}*/

.print-data {
  padding-top: 40px;
}


comp-chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
}



