/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~font-awesome/css/font-awesome.min.css';
@import "~@ngx-share/button/styles/share-buttons";
@import "~@ngx-share/button/styles/themes/default/default-theme";

@import '~bootstrap/dist/css/bootstrap.min.css';

.emoji{
  display:inline-block;
}

body,
html {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/*body {
  background: white;
    !*linear-gradient(181deg,  rgba(255, 255, 247, 0.9), rgba(48, 60, 27, 0.6));*!
}*/

/** {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}*/

.print-data {
  padding-top: 40px;
}

/*SUPPRESSION DU SOULIGNEMENT DES LINK*/
a {
  text-decoration: underline;
  color: white;
}

a:visited {
  color: white;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
  background: none;
}

a:link {
  text-decoration: none;
}

comp-chat-room {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* POUR LES ICONES*/
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 12px;
  background:  grey;
  color: white;
  min-width: 40px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 8px;
  outline: none;
}

/*ANIMATION*/

/* Zoom d'Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}






