<br>
<h2>Bienvenue, voici la liste des forums</h2>

<div class="list-category">
  <a *ngFor="let course of courseList" class="list-item" routerLink={{course.path}}>
    <mat-card [compMouseLiveColor]="'#dddddd'">
      <mat-card-header>
        <mat-card-title class="mat-card-title card-title">
          {{course.name}}
        </mat-card-title>
        <mat-card-subtitle>Informatique</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{course.description}}</p>
      </mat-card-content>
      <div class="list-icon-spacer"></div>
    </mat-card>
  </a>
</div>
